* { 
    font-family: 'Web437_IBM_VGA_8x16', monospace;
    line-height: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px; 
    padding-bottom: 0px;
    cursor:default;
}

body {
    background-color: black;
    min-width: 1024px;
}

time {
  color: gold;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

li {
    color: #CED4DA;    
}

li::before {
  text-decoration: none;
  content: "";
}

ul {
  list-style-type: none;
}

p {
    color: #CED4DA;
    min-width: 768px;
    margin-bottom: 8px;
}

span {
    color: #CED4DA;
    //overflow: hidden;
    white-space: nowrap;
    line-break:strict;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    box-shadow: 4px 4px 0 0 #212529;
    text-align: center;
    display: block;
    padding: 16px;
    width: 128px;
    margin-bottom: 12px;
    a {      
      margin-left: 8px;
      color: #212529; 
    }
}

h1 {
  background-color: #DEE2E6;
}

h2 {    
  background-color: #CED4DA;  
}

h3 {
    background-color: #ADB5BD;
}

h4 {
    background-color: #6C757D;
    a {      
      margin-left: 8px;
      color: #DEE2E6;
    }
}

h5 {
    background-color: #495057;
    a {      
      margin-left: 8px;
      color: #DEE2E6;
    }
}

h6 {
    background-color: #343A40;
    a {      
      margin-left: 8px;
      color: #DEE2E6;
    }
}

div {
  border-style: solid;
  border-width: 0px;
  border-color: white;
  border-style: dotted;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px; 
  padding-bottom: 2px;
  overflow: hidden;
}

br {
  clear: both;
}

pre {
  box-shadow: 4px 4px 0 0 #212529;
  display: block;
  padding: 8px;
  margin: 12px;
  background-color: black;
  color: limegreen;
  min-width: 768x;
  max-width:896px;
  overflow: auto;
}

blockquote {
  color: antiquewhite;
  margin-bottom: 8px;
  margin-left: 4px;
}

blockquote::before {
  content: "> ";
  float: left;
  margin-right:4px;  
}

blockquote p {
  color: unset;
}

.body-container {
  margin: 0;
  padding: 0;
}

.header-container {
  min-width: 1024px;
}

.header-photo {
  margin-top: -96px;
  margin-left: -64px;
  width: 294px;
  float: left;
  font-weight: bold;
  height: 384px;
  white-space: nowrap;
  overflow: hidden;
}
.header-banner {
  background: linear-gradient(to right, rgb(127, 121, 127),rgb(255, 255, 255), rgb(217, 0, 255), rgb(255, 255, 255), rgb(217, 0, 255), rgb(181, 181, 171));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  line-height: 16px;
  height:192px;
  opacity: 0.7;
  max-width: 1024px;
}

.header-calling-card {
  background: linear-gradient(to right, rgb(217, 0, 255), rgb(255, 255, 255), rgb(127, 121, 127), rgb(181, 181, 171), rgb(255, 255, 255), rgb(217, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  line-height: 16px;
}

.header-nav-bar  {
  height: 16px;
  a { 
    text-decoration: underline;
  }
}

.menu__trigger {
  cursor: pointer;
}

.menu__dropdown {
  box-shadow: 4px 4px 0 0 #212529;
  opacity: 1.0;
  background-color: #E9ECEF;  
  position: absolute;
  width: 128px;
  padding: 8px;
  text-align: center;
  visibility: hidden;  
  z-index: 99;  
  li { 
    margin-top: 8px;
    margin-bottom: 8px;
  }
  a {
    color: #212529;
  }
}

.open {
  visibility: visible;
}

.content-container {
    background-color:#433a3a;
    ul {
      margin-bottom: 8px;
    }
    h1 { 
      margin-left: 8px;
      margin-top: 2px;
      overflow: hidden;
      width:208px;
    }
}

.post {

}

.post-title {
  float: left;
}

.post-meta {
  margin-right: 12px;
  background-color: black;
  box-shadow: 4px 4px 0 0 #212529;
  padding: 16px;
  float: right;
  align-items: right;
  text-align: right;
}

.post-date {
  
}

.post-author {
  color: cyan;
}

.post-reading-time {

}

.post-tags {

}

.footer-container {

}

.table-of-contents {

}

.post-content {
  margin-left: 8%;
  margin-right: 8%;
  h1 { 
    margin-left: 0;
    margin-top: 0;
    overflow: auto;
    width: 128px;
  }
  li {
    margin-bottom: 12px;
  }
  li::before {
    content: "►";
    margin-right: 8px;
    color: #F8F9FA;
    float: left;
  }
}

.post-content-preview {
  text-align: left;
  display: block;
  padding: 0;
  height:44px;
  margin-bottom: 12px;
  float: left;
  margin-left: 12px;
  width: 384px;
  color: antiquewhite;
  padding-top: 4px;
  padding-left: 4px;
}

.read-more {
  background-color: #F8F9FA;
  box-shadow: 4px 4px 0 0 #212529;
    text-align: center;
    display: block;
    padding: 16px;
    width: 128px;
    margin-bottom: 12px;
    margin-right: 8px;
    color: #212529  ;
    a {      
      margin-left: 8px;
    }
    float: right;
}

.index-content {

}

.posts {
  
}

.read-more-button {

}

.pagination { 
  h1 { 
    margin-left: 2px;

  }
}

.pagination__buttons {
  h6 { 
    float: left;
    margin-right: 12px;
    width: auto;
    cursor: pointer;
  }
}

.footer-container {

}

.footer-rainbow {
  background: linear-gradient(to right, red, rgb(69, 255, 69), rgb(245, 48, 255), yellow, rgb(255, 48, 144), cyan);
  opacity: 0.7;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
}