* {
    border: 0;
    font-family: 'Web437_IBM_VGA_8x16', monospace;
    line-height: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px; 
    padding-bottom: 0px;
    cursor: default;  

    ::-webkit-scrollbar {
      width: 8px;
    }
    
    ::-webkit-scrollbar-track {
      background: black;
    }
    
    ::-webkit-scrollbar-thumb:vertical {
      background: linear-gradient(to bottom, rgb(61, 249, 61), rgb(0, 238, 255), rgb(255, 255, 255), rgb(217, 0, 255));
    }
    
    ::-webkit-scrollbar-thumb:vertical:hover {
      background:linear-gradient(to bottom,rgb(217, 0, 255), rgb(255, 255, 255), rgb(0, 238, 255), rgb(61, 249, 61));
    }
    ::-webkit-scrollbar-thumb:horizontal {
      background: linear-gradient(to right, rgb(61, 249, 61), rgb(0, 238, 255), rgb(255, 255, 255), rgb(217, 0, 255));
    }
    
    ::-webkit-scrollbar-thumb:horizontal:hover {
      background:linear-gradient(to right,rgb(217, 0, 255), rgb(255, 255, 255), rgb(0, 238, 255), rgb(61, 249, 61));
    }
}

body {
    background-color: black;
    min-width: 767px;
}

time {
  color: #F5CB5C;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

li {
    color: #CED4DA;    
}

ul {
  list-style-type: none;

  li::before {
    color: #212529;
    text-decoration: none;
    content: "";
  }
}

p {
    color: #CED4DA;
    margin-bottom: 8px;
    line-height: 24px;
}

span {
    color: #CED4DA;
}

em { 
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {    
    box-shadow: 8px 9px 0 0 #212529;
    text-align: center;
    display: block;
    padding: 16px;
    width: 128px;
    margin-bottom: 16px;
    a {      
      margin-left: 8px;
      color: #212529; 
    }
}

h1 {
  
  background-color: #DEE2E6;
}

h2 {    
  background-color: #CED4DA;  
}

h3 {
    background-color: #ADB5BD;
}

h4 {
    background-color: #6C757D;
    color: #DEE2E6;
    a {      
      margin-left: 8px;
      color: #DEE2E6;
    }
}

h5 {
    background-color: #495057;
    color: #DEE2E6;
    a {      
      margin-left: 8px;
      color: #DEE2E6;
    }
}

h6 {
    background-color: #343A40;
    a {      
      margin-left: 8px;
      color: #DEE2E6;
    }
}

div {
  border-style: solid;
  border-width: 0px;
  border-color: white;
  border-style: dotted;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px; 
  padding-bottom: 2px;
  overflow: hidden;
}

br {
  clear: both;
}

code { 
  background-color: #343A40;
  color: white;
  box-shadow: 8px 9px 0 0 #212529;
  padding-left: 4px;
  padding-right: 4px; 
  padding-top:2px;
  padding-bottom:2px;
}

pre {
  code {
    box-shadow: unset;
    display: unset;
    background-color: unset;
    padding: unset;
    margin: unset;
    color: unset;
  }
  box-shadow: 8px 9px 0 0 #212529;
  display: block;
  padding: 8px;
  margin-bottom: 24px;
  margin-right:8px;
  background-color: #000000;
  color: limegreen;
  overflow: auto;
}

blockquote {
  color: antiquewhite;
  margin-bottom: 8px;
  margin-left: 4px;

  p {
    line-height: unset;
  }
}

blockquote::before {
  content: "> ";
  float: left;
  margin-right:4px;  
}

blockquote p {
  color: unset;
}

.body-container {
  margin: 0;
  padding: 0;
}

.header-container {
  min-width: 1024px;
}

.header-inner {
  display: flex;
  justify-content: center; 
  padding:0;
  margin:0;

  span {
    white-space: nowrap;
    line-break: strict;
  }
  
  @media (max-width: 767px) {
    display: unset;
    justify-content: unset;
  }
}

.header-photo {
  padding:0;
  margin:0;
  float: left;
}

.photo-border { 
  background: linear-gradient(to left,rgb(127, 121, 127), rgb(181, 181, 171), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-calling-card {
  padding:0;
  margin:0;
  background: linear-gradient(to right, rgb(217, 0, 255), rgb(255, 255, 255), rgb(127, 121, 127), rgb(181, 181, 171), rgb(255, 255, 255), rgb(217, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-left {
  padding:0;
  margin:0;
  width:272px;
  float: left;
  overflow: hidden;

  @media (max-width: 375px) {
    display: none;
  }
}

.header-middle {
  padding:0;
  margin:0;
  margin-left: 8px;
  float: left;
  width: 408px;
  overflow: hidden;
  
  @media (max-width: 767px) {
    width: 744px;

  }

  @media (max-width: 375px) {
    width: 100%;
  }
}

.header-right {
  background: linear-gradient(to left, rgb(61, 249, 61), rgb(0, 238, 255), rgb(255, 255, 255), rgb(217, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding:0;
  margin:0;
  margin-left: 8px;
  width: 294px;
  @media (max-width: 767px) {
    display: none;
  }
}

.logo-contact {
  padding:0;
  margin:0;
}

.logo-right {
  padding:0;
  margin:0;
}

.logo-end {
  padding:0;
  margin:0;
}

.header-nav-bar  {
  display: flex;
  justify-content: center;
  width:100%;
  padding: 0;
  margin: 0;
  a {
    text-decoration: none;
  }
  float: left;
  @media (max-width: 767px) {
    width: unset;
  }
}

.menu__trigger {
  cursor: pointer;
}

.menu__dropdown {
  box-shadow: 4px 4px 0 0 #212529;
  opacity: 1.0;
  background-color: #E9ECEF;  
  position: absolute;
  width: 128px;
  padding: 8px;
  text-align: center;
  visibility: hidden;  
  z-index: 99;

  li { 
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  a {
    color: #212529;
  }
}

.menu-item { 
  float: left;
  margin-right: 64px;
  @media (max-width: 375px) {
    margin-right: 96px;
  }
}

.menu {
  float: left;
}

.navigation-menu__inner menu--desktop {
  float: left;
}

.open {
  visibility: visible;
}

.content-container {
    margin-top: 0;
    background-color:#433a3a;
    
    ul {
      margin-bottom: 8px;
    }
    
    h1 { 
      margin-left: 8px;
      margin-top: 2px;
      overflow: hidden;
      width:208px;
    }
}

.table-of-contents {
  nav {
    display: none;
  }
  height: 16px;
  width: 16px;
  box-shadow: 8px 9px 0 0 #212529;
  background-color: #DEE2E6;
  padding: 8px;
  margin-right: 8px;
  margin-left: 8px;
  float: left;
  position: fixed;
}

.table-of-contents:hover {
  nav {
    display: block;
  }
  width: 512px;
  height: unset;
}

#TableOfContents {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  
  a {
    color: #212529;
  }
  li {
    margin: 0;   
  }
  li::before {
    color: #CED4DA;
    padding-right: 4px;
  }
  a::after {
    content: "";    
    color: #CED4DA;
    
  } 
  ul {    
    margin:0;
    
    li:first-child::before {
      content: "┌";
    }
    
    li:last-child::before {
      content: "├";
    }
    
    li::before {
      content: "├";
    }

    li {
      ul {
        li:first-child::before {
          content: "│ ┌";
        }
        
        li:last-child::before {
          content: "│ ├";
        }
        
        li:only-child::before {
          content: "│ └"
        }

        li::before {
          content: "│ ├";
        }
      }
    }
  }
}

.copy-code-button {
  box-shadow: 8px 9px 0 0 #212529;
  background-color: #272822;
  color: white;
  display: block;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
  width: 48px;
  height: 48px;
  
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: #F2F2F2;
  color: black;
}

.copy-code-button:focus {
  background-color: #E6E6E6;
  outline: 0;
}

.copy-code-button:active {
  background-color: #D9D9D9;
}

.highlight pre {

}

.highlight {
  margin: 0;
  margin-bottom:12px;
}

.post-title {
  float: left;
}

.post-meta {
  margin-right: 12px;
  background-color: #242423;
  box-shadow: 8px 9px 0 0 #212529;
  padding: 16px;
  float: right;
  align-items: right;
  text-align: center;
  min-width: 192px;
}

.post-author {
  color: #E8EDDF;
}

.footer-container {
  @media (max-width: 375px) {
    display: none;
  }

}

.highlight { 
  span { 
    white-space: unset;
    line-break: unset;
  }
}
.post-inner {
  max-width: 100%;
  padding-top: 8px;
  margin-left: 48px;
}

.post-content {
  display: flex;
  justify-content: center;

  h1 { 
    margin-left: 0;
    margin-top: 0;
    overflow: auto;
    width: 128px;
  }
  
  li {
    margin-bottom: 12px;
    line-height: 24px;
    code { 
      background-color: #343A40;
      color: white;
      box-shadow: 2px 2px 0 0 #212529;
      padding: 0;
    }
    img {
      padding: 0;
    }
  }
  
  ul { 
    li::before {
      color: #212529;
      content: "►";
      margin-right: 8px;      
      float: left;
    }
    margin-bottom: 12px;
  }

  ol {
    list-style: none;
    counter-reset: none;
  }
  
  p { 
    a {
      text-decoration: underline;
    }

    img { 
      max-width:100%;
      padding-bottom: 8px;
    }
    code { 
      background-color: #343A40;
      color: white;
      box-shadow: 2px 2px 0 0 #212529;
      padding: 0;
    }
  }
}

.posts {
  article { 
    background-color: #393131;
    width: 96%;
    padding: 16px;
    box-shadow: 4px 4px 0 0 #212529;
    h1 {
      margin-right:8px;
    }
  }
  
  hr {
    border: 8px solid #333533;
    box-shadow: 4px 4px 0 0 #212529;
  }
}

.post-content-preview {
  text-align: left;
  display: block;
  padding: 0;
  height:44px;
  margin-bottom: 16px;
  color: antiquewhite;
  padding-top: 4px;
  padding-left: 8px;
}

.read-more {
    background-color: #F8F9FA;
    box-shadow: 4px 4px 0 0 #212529;
    text-align: center;
    display: block;
    padding: 16px;
    width: 128px;
    margin-bottom: 12px;
    margin-right: 8px;
    color: #212529;

    a {      
      margin-left: 8px;
    }

    float: right;
}

.pagination {
  h1 {
    margin-left: 2px;
    color: black;
    cursor: pointer;
  }
}

.pagination__buttons {
  h6 {
    margin-left: unset;
    float: left;
    margin-right: 12px;
    width: auto;
    cursor: pointer;
  }
}

.footer-rainbow {
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 255, 0), rgb(32, 36, 255), rgb(255, 0, 208), rgb(208, 255, 0), rgb(255, 98, 0));
  opacity: 0.7;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;
}

#webamp {
  * {
    font-family: unset;
    font-size: unset;
  }

  div {
  border-style: unset;
  border-width: unset;
  border-color: unset;
  border-style: unset;
  margin-left: unset;
  margin-right: unset;
  margin-top: unset;
  margin-bottom: unset;
  padding-left: unset;
  padding-right: unset;
  padding-top: unset;
  padding-bottom: unset;
  overflow: unset;
  }
}

