{{ define "main" }}
  <div class="container-404">
  <link rel="stylesheet" href="/emulators-ui/emulators-ui.css">
    <div id="dosbox-wrapper">
    <div id="dosbox"></div>
    </div>
    <script src="/emulators/emulators.js"></script>
    <script src="/emulators-ui/emulators-ui.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) { 
        emulators.pathPrefix = "/emulators/";
        Dos(document.getElementById("dosbox")).run("/jsdos/bundle-debug.zip");
      });
    </script>
  </div>
{{ end }}

